/* Select all the html elements and remove default properties set by browser*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets a background color for entire page */

body {
    background-color: #d9dcd6;
}

/* Setting background color , font color , family and padding for all elements in header (a h1 tag and nav elements).
Header elements will have 20px padding on top , bottom , right and left*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Change header h1 element form block to inline-block, this will allow side by side display of elements.
  Set  specific font size for the tag */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* style for a span element. Used to handle varied style changes in  h1 tag*/
.header h1 .seo {
    color: #d9dcd6;
}

/* Set a font-family and padding top different from overall header. Place the content to the right of the header section.
 Top of the element will have padding 15px. It will also place the content 20px away from right side (using margin-right). */
  
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* An unordered list can have list item markers like bullets. Setting the following property to none will remove that.
   This is as per the mockup */
.header nav ul {
    list-style-type: none;
}

/* All the list items display has been changed from default block. 
The element in now inline-block , but padding/width etc can be set like for a block element.
With this style the header title and nav elements will be in single row.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Set font color for all links. Remove default link styles like underline etc. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* For all paragraphs set font-size*/
p {
    font-size: 16px;
}

/* Hero section has a background image , a relative path is provided for image location. 
   The image has been stretched to fill the entire section without spaces, using option background-size.
   The image will be placed at center of section using background-position.
   Set sections height, width, margin (margin-bottom, push next element down by 25px) etc.
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Content section style start.*/

/*Set the overall width of the content section to 75% of the page.
  The display has been changed from block to inline-block, allowing for side by side display of elements.*/  
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Content section has 3 similar articles, with image and text.
  They are styled using the class product. 
  The orientation for 1 & 3 article are same. 2 classes float-left and float-right are used to handle the difference.
  
  Each article section will have the following styles applied.
*/
.product{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Images in article section will have the height set to 200px.*/
.product img{
    max-height: 200px;
}

/* Set font size and increase the gap from next element by 20px.  */
.product h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Apply when img should float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Apply when img should float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/*Content section style End.*/

/*Benefits section style start*/

/*Set overall style for benefit section container.
  It will take up 20% of the page with, beside content section.
  Placed to right. Clear of all other floating elements. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The benefits section has 3 benefits displayed. With header, image and text.
  Set margin bottom and font color for each group.*/
.benefit{
    margin-bottom: 32px;
    color: #ffffff;  
}

/* Style header for each group as follows.*/
.benefit h2{
    margin-bottom: 10px;
    text-align: center; 
    font-size: 22px;
}

/* Style image for each group as follows. Display them image in its own line by using block display.
   Margin is 10px from top and bottom. For the sides divide remaining space equally.*/
.benefit img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Benefits section style end*/

/* Display footer in its own line at center. Place it clear of all other floating elements. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Footer heading will be of size 20px.*/
.footer h2 {
    font-size: 20px;
}
